*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    background-color: aqua;

}
.navbar{
    height: 75px;
    margin: auto;
    width: 1200px;
}
.icon{
    width: 2000px;
    float: left;
    height: 70px;
}
.logo{
    color: brown;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    align-content: center;
    padding: auto;
    align-items: center;
}
.search{
    height: 70px;
    margin-left: 5%;
    font-size: 40px;
}